@model IEnumerable<Blog_Dries.Models.Category>

@{
    ViewData["Title"] = "Category";
    var i = 1;
}


<p style="float:right;">
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<h1>Categories List</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Sr #
            </th>
            <th>
                Category Name
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@i</td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    <a class="btn btn-sm btn-outline-info" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                    <a class="btn btn-sm btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
            i++;
        }
    </tbody>
</table>
